{{define "components/wrapper/apilist/jwt.tmpl"}}
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">JWT API</div>
                <div class="panel-body">
                  <form role="form">
                    <div class="form-group">
                      <label>E-mail</label>
                      <input id="jwtEM" class="form-control" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input id="jwtPW" class="form-control" type="password" autocomplete="off">
                    </div>
                    <button id="jwtBtn" type="button" class="btn btn-info">Get JWT</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-info">
                <div class="panel-heading">JWT CODE</div>
                <div class="panel-body">
                    <div class="form-group">
                      <label for="disabledInput">jwt code</label>
                      <input id="jwtCode" class="form-control" id="disabledInput" type="text" placeholder="" disabled="">
                    </div>
                </div>
              </div>
            </div>
          </div>
<script type="text/javascript">
(function (){
  var getBtn = document.getElementById("jwtBtn");
  jwtBtn.addEventListener("click", getJWT, false);

  //
  function getJWT(evt){
    //
    var url = "/api/jwt";
    var sendData = new Object();

    //create data
    var errFlg = 0;
    //create data
    if (document.getElementById("jwtEM").value != ""){
      sendData.inputEmail = document.getElementById("jwtEM").value;
    }else{
        errFlg=1;
    }
    if (document.getElementById("jwtPW").value != ""){
      sendData.inputPassword = document.getElementById("jwtPW").value;
    }else{
        errFlg=1;
    }

    if (errFlg==1){
        swal("warning!", "blank filed is not allowed.", "warning");
        return;
    }

    //send
    hm.sendAjax(url, "post", "form", sendData)
  }

})();
</script>
{{end}}