{{define "pages/apilist/index.tmpl"}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{template "components/header.tmpl" .}}
  </head>
  <body>
    <div id="wrapper">
      <!-- /. NAV TOP  -->
      {{template "components/nav_header.tmpl" .}}
      <!-- /. NAV SIDE  -->
      {{template "components/nav_side.tmpl" .}}

      <!-- -->
      <div id="page-wrapper">
        <div id="page-inner">
          <!-- /. ROW 01 -->
          {{template "components/wrapper/row_01.tmpl" .}}

          <!-- /. ROW user list -->
          {{template "components/wrapper/apilist/userlist.tmpl" .}}
          <!-- /. ROW FORM JWT -->
          {{template "components/wrapper/apilist/jwt.tmpl" .}}
          <!-- /. ROW FORM GET DELETE -->
          {{template "components/wrapper/apilist/get_del.tmpl" .}}
          <!-- /. ROW FORM PUT POST -->
          {{template "components/wrapper/apilist/put_post.tmpl" .}}
        </div>
        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- /. Footer -->
    {{template "components/footer.tmpl" .}}

  <!-- /. FOOTER jslist -->
  {{template "components/footer_jslist.tmpl" .}}

</body>
</html>
{{end}}