#common
.DS_Store
.idea/

#main
configs/settings.toml
configs/heroku.toml

#compiled
profile.cov
ginserver.log

#frontend_workspace
node_modules
web/frontend_workspace/hiromaily/test.sh
web/frontend_workspace/hiromaily/reset.sh
web/frontend_workspace/hiromaily/dist/
web/frontend_workspace/hiromaily/src/sample.es6.js

#docker

#swagger-ui
