*.tmpl linguist-language=golang
testdata/* linguist-documentation
build/* linguist-documentation
go.mod/* linguist-documentation
vendor/* linguist-documentation
web/statics/* linguist-documentation
web/swagger/* linguist-documentation
web/templates/samples/* linguist-documentation
web/frontend_workspace/hiromaily/node_modules/* linguist-documentation
web/frontend_workspace/react/node_modules/* linguist-documentation
web/frontend_workspace/react/app/assets/* linguist-documentation
web/frontend_workspace/react/app/css/* linguist-documentation
web/frontend_workspace/react/app/json/* linguist-documentation
web/frontend_workspace/react/app/lib/* linguist-documentation
web/frontend_workspace/react/app/dist/* linguist-documentation
