version: '3.7'

services:
  # MySQL
  mysql:
    ports:
      - "${MYSQL_PORT:-13306}:3306"

  # Redis
  redis:
    ports:
      - "${REDIS_PORT:-16379}:6379"

  # Mongo
  mongo:
    ports:
      - "${MONGODB_PORT:-27017}:27017"
    command: mongod --auth

  # Golang:go-gin-wrapper
  web:
    ports:
      - "${WEB_PORT:-8080}:8080"
    volumes:
      #- ./:/go/src/github.com/hiromaily/go-gin-wrapper
      - ./cmd:/go/src/github.com/hiromaily/go-gin-wrapper/cmd
      - ./pkg:/go/src/github.com/hiromaily/go-gin-wrapper/core
      - ./configs:/go/src/github.com/hiromaily/go-gin-wrapper/configs
      - ./testdata:/go/src/github.com/hiromaily/go-gin-wrapper/testdata
      - ./go.mod:/go/src/github.com/hiromaily/go-gin-wrapper/go.mod
      - ./web:/go/src/github.com/hiromaily/go-gin-wrapper/web
    environment:
      ENC_KEY: ${ENC_KEY}
      ENC_IV: ${ENC_IV}
    stdin_open: true
    tty: true
    command: realize start
    #command: fresh -c /go/src/github.com/hiromaily/go-gin-wrapper/runner.conf
    #command: bash ./docker-entrypoint.sh
