{{define "components/wrapper/row_10.tmpl"}}
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Alert Styles </div>
                <div class="panel-body">
                  <div class="alert alert-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                  <div class="alert alert-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                  <div class="alert alert-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                  <div class="alert alert-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Dismissable Alerts </div>
                <div class="panel-body">
                  <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                  <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                  <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                  <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a href="#" class="alert-link">Alert Link</a>.
                  </div>
                </div>
              </div>
            </div>
          </div>
{{end}}