{{define "components/wrapper/row_form_01.tmpl"}}
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-info">
                <div class="panel-heading">BASIC FORM </div>
                <div class="panel-body">
                  <form role="form">
                    <div class="form-group">
                      <label>Enter Name</label>
                      <input class="form-control" type="text">
                      <p class="help-block">Help text here.</p>
                    </div>
                    <div class="form-group">
                      <label>Enter Email</label>
                      <input class="form-control" type="text">
                      <p class="help-block">Help text here.</p>
                    </div>
                    <div class="form-group">
                      <label>Text area</label>
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info">Send Message </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-danger">
                <div class="panel-heading">SINGUP FORM </div>
                <div class="panel-body">
                  <form role="form">
                    <div class="form-group">
                      <label>Enter Email</label>
                      <input class="form-control" type="text">
                      <p class="help-block">Help text here.</p>
                    </div>
                    <div class="form-group">
                      <label>Enter Password</label>
                      <input class="form-control" type="password">
                      <p class="help-block">Help text here.</p>
                    </div>
                    <div class="form-group">
                      <label>Re Type Password </label>
                      <input class="form-control" type="password">
                      <p class="help-block">Help text here.</p>
                    </div>
                    <button type="submit" class="btn btn-danger">Register Now </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
{{end}}