{{define "components/wrapper/row_03.tmpl"}}
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <div id="reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="col-md-10 col-md-offset-1">
                          <h4>
                            <i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum.
                            <i class="fa fa-quote-right"></i>
                          </h4>
                          <div class="user-img pull-right">
                            <img src="assets/img/user.gif" alt="" class="img-u image-responsive" />
                          </div>
                          <h5 class="pull-right">
                            <strong class="c-black">Lorem Dolor</strong>
                          </h5>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-10 col-md-offset-1">
                          <h4>
                            <i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum.
                            <i class="fa fa-quote-right"></i>
                          </h4>
                          <div class="user-img pull-right">
                            <img src="/assets/img/users/user.png" alt="" class="img-u image-responsive" />
                          </div>
                          <h5 class="pull-right">
                            <strong class="c-black">Lorem Dolor</strong>
                          </h5>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-10 col-md-offset-1">
                          <h4>
                            <i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum.
                            <i class="fa fa-quote-right"></i>
                          </h4>
                          <div class="user-img pull-right">
                            <img src="/assets/img/user.gif" alt="" class="img-u image-responsive" />
                          </div>
                          <h5 class="pull-right">
                            <strong class="c-black">Lorem Dolor</strong>
                          </h5>
                        </div>
                      </div>
                    </div>
                    <!--INDICATORS-->
                    <ol class="carousel-indicators">
                      <li data-target="#reviews" data-slide-to="0" class="active"></li>
                      <li data-target="#reviews" data-slide-to="1"></li>
                      <li data-target="#reviews" data-slide-to="2"></li>
                    </ol>
                    <!--PREVIUS-NEXT BUTTONS-->
                  </div>
                </div>
              </div>
              <!-- /. ROW  -->
              <hr />
              <div class="panel panel-default">
                <div id="carousel-example" class="carousel slide" data-ride="carousel" style="border: 5px solid #000;">
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="/assets/img/slideshow/1.jpg" alt="" />
                    </div>
                    <div class="item">
                      <img src="/assets/img/slideshow/2.jpg" alt="" />
                    </div>
                    <div class="item">
                      <img src="/assets/img/slideshow/3.jpg" alt="" />
                    </div>
                  </div>
                  <!--INDICATORS-->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1"></li>
                    <li data-target="#carousel-example" data-slide-to="2"></li>
                  </ol>
                  <!--PREVIUS-NEXT BUTTONS-->
                  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <!-- /.REVIEWS &  SLIDESHOW  -->
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">Recent Chat History </div>
                <div class="panel-body" style="padding: 0px;">
                  <div class="chat-widget-main">
                    <div class="chat-widget-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    <div class="chat-widget-name-left">
                      <h4>Amanna Seiar</h4>
                    </div>
                    <div class="chat-widget-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    <div class="chat-widget-name-right">
                      <h4>Donim Cruseia </h4>
                    </div>
                    <div class="chat-widget-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    <div class="chat-widget-name-left">
                      <h4>Amanna Seiar</h4>
                    </div>
                    <div class="chat-widget-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    <div class="chat-widget-name-right">
                      <h4>Donim Cruseia </h4>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Message" />
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="button">SEND</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Chat Panel End-->
          </div>
{{end}}