{{define "components/wrapper/row_form_02.tmpl"}}
          <!--/.ROW-->
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">FORM ELEMENTS </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label>Select Example</label>
                    <select class="form-control">
                      <option>One Vale</option>
                      <option>Two Vale</option>
                      <option>Three Vale</option>
                      <option>Four Vale</option>
                    </select>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label>Multiple Select Example</label>
                    <select multiple="" class="form-control">
                      <option>One Vale</option>
                      <option>Two Vale</option>
                      <option>Three Vale</option>
                      <option>Four Vale</option>
                    </select>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label>Checkboxes</label>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">Checkbox Example One
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">Checkbox Example Two
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">Checkbox Example Three
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">Checkbox Example Four
                      </label>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label>Radio Button Examples</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Radio Example One
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Example Two
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio Example Three
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">OTHER ELEMENTS FOR FORM </div>
                <div class="panel-body">
                  <form role="form">Some Message Examples
                    <br />
                    <div class="form-group has-success">
                      <label class="control-label" for="success">SUCCESS EXAMPLE</label>
                      <input type="text" class="form-control" id="success" />
                    </div>
                    <div class="form-group has-warning">
                      <label class="control-label" for="warning">WARNING EXAMPLE</label>
                      <input type="text" class="form-control" id="warning" />
                    </div>
                    <div class="form-group has-error">
                      <label class="control-label" for="error">ERROR EXAMPLE</label>
                      <input type="text" class="form-control" id="error" />
                    </div>
                  </form>
                  <hr>Other Group Examples
                  <br>
                  <form role="form">
                    <div class="input-group">
                      <span class="form-group input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                      <input type="text" class="form-control" />
                    </div>
                    <br />
                    <div class="input-group">
                      <input type="text" class="form-control" />
                      <span class="form-group input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                  </form>
                  <hr>
                  <form role="form">
                    <div class="form-group">
                      <label for="disabledInput">Disabled input</label>
                      <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="">
                    </div>
                  </form>
                  <hr />For more customization for this template or its components please visit official bootstrap website i.e getbootstrap.com or
                  <a href="http://getbootstrap.com/components/" target="_blank">click here</a>
                </div>
              </div>
            </div>
          </div>
{{end}}