{{define "components/wrapper/row_01.tmpl"}}
          <div class="row">
            <div class="col-md-12">
              <h1 class="page-head-line">{{ .title }}</h1>
              <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>
            </div>
          </div>
{{end}}