{{define "components/wrapper/apilist/put_post.tmpl"}}
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">PUT API</div>
                <div class="panel-body">
                    <div class="form-group"><!--has-error-->
                      <label>User ID</label>
                      <input id="putID" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>First Name</label>
                      <input id="putFN" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>Last Name</label>
                      <input id="putLN" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>E-mail</label>
                      <input id="putEM" class="form-control" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input id="putPW" class="form-control" type="password" autocomplete="off">
                    </div>
                    <button id="putBtn" type="button" class="btn btn-info">Update</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">POST API</div>
                <div class="panel-body">
                  <form role="form">
                    <div class="form-group">
                      <label>First Name</label>
                      <input id="postFN" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>Last Name</label>
                      <input id="postLN" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>E-mail</label>
                      <input id="postEM" class="form-control" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input id="postPW" class="form-control" type="password" autocomplete="off">
                    </div>
                    <button id="postBtn" type="button" class="btn btn-info">Register</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
<script type="text/javascript">
(function (){
  var putBtn = document.getElementById("putBtn");
  var postBtn = document.getElementById("postBtn");
  putBtn.addEventListener("click", putUser, false);
  postBtn.addEventListener("click", postUser, false);


  function putUser(evt){
    var url;
    var sendData = new Object();
    var id = document.getElementById("putID").value;
    if (id != "" && !isNaN(id)){
        url = "/api/users/id/" + id;
    }else{
        //id error
        console.log("id is invalid.");
        swal("warning!", "user id is invalid.", "warning");
        //TODO:add has-error class to group
        return;
    }

    //create data
    if (document.getElementById("putFN").value != ""){
      sendData.firstName = document.getElementById("putFN").value;
    }
    if (document.getElementById("putLN").value != ""){
      sendData.lastName = document.getElementById("putLN").value;
    }
    if (document.getElementById("putEM").value != ""){
      sendData.email = document.getElementById("putEM").value;
    }
    if (document.getElementById("putPW").value != ""){
      sendData.password = document.getElementById("putPW").value;
    }

    console.log(sendData)

    //send
    hy.sendAjax(url, "put", "form", sendData)
  }

  function postUser(evt){
    var url = "/api/users/";
    var sendData = new Object();

    var errFlg = 0;
    //create data
    if (document.getElementById("postFN").value != ""){
      sendData.firstName = document.getElementById("postFN").value;
    }else{
        errFlg=1;
    }
    if (document.getElementById("postLN").value != ""){
      sendData.lastName = document.getElementById("postLN").value;
    }else{
        errFlg=1;
    }
    if (document.getElementById("postEM").value != ""){
      sendData.email = document.getElementById("postEM").value;
    }else{
        errFlg=1;
    }
    if (document.getElementById("postPW").value != ""){
      sendData.password = document.getElementById("postPW").value;
    }else{
        errFlg=1;
    }

    //console.log(sendData)

    if (errFlg==1){
        swal("warning!", "blank filed is not allowed.", "warning");
        return;
    }

    //send
    hy.sendAjax(url, "post", "form", sendData)
  }


})();
</script>
{{end}}