{{define "components/wrapper/row_02.tmpl"}}
          <div class="row">
            <div class="col-md-4">
              <div class="main-box mb-red">
                <a href="#">
                  <i class="fa fa-bolt fa-5x"></i>
                  <h5>Zero Issues</h5>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="main-box mb-dull">
                <a href="#">
                  <i class="fa fa-plug fa-5x"></i>
                  <h5>40 Task In Check</h5>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="main-box mb-pink">
                <a href="#">
                  <i class="fa fa-dollar fa-5x"></i>
                  <h5>200K Pending</h5>
                </a>
              </div>
            </div>
          </div>
{{end}}