{{define "components/wrapper/row_07.tmpl"}}
          <div class="row text-center pad-row">
            <div class="col-md-3">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h4>SIMPLE PLAN</h4>
                </div>
                <div class="panel-body">
                  <div class="round-body">
                    <div class="price-main">
                      <span class="price-Unit">
                        <i class="fa fa-dollar"></i>10
                      </span>
                      <small>per month</small>
                    </div>
                  </div>
                  <ul class="plan-two">
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-success btn-lg btn-block">ORDER NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel  panel-info active-plan-price">
                <div class="panel-heading">
                  <h4>VALUE PLAN</h4>
                </div>
                <div class="panel-body">
                  <div class="round-body">
                    <div class="price-main">
                      <span class="price-Unit">
                        <i class="fa fa-dollar"></i>20
                      </span>
                      <small>per month</small>
                    </div>
                  </div>
                  <ul class="plan-two ">
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-info btn-lg btn-block">ORDER NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel  panel-danger">
                <div class="panel-heading">
                  <h4>MEDIUM PLAN</h4>
                </div>
                <div class="panel-body">
                  <div class="round-body">
                    <div class="price-main">
                      <span class="price-Unit">
                        <i class="fa fa-dollar"></i>50
                      </span>
                      <small>per month</small>
                    </div>
                  </div>
                  <ul class="plan-two ">
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-danger btn-lg btn-block">ORDER NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel  panel-primary">
                <div class="panel-heading">
                  <h4>ADVANCE PLAN</h4>
                </div>
                <div class="panel-body">
                  <div class="round-body">
                    <div class="price-main">
                      <span class="price-Unit">
                        <i class="fa fa-dollar"></i>75
                      </span>
                      <small>per month</small>
                    </div>
                  </div>
                  <ul class="plan-two ">
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg btn-block">ORDER NOW</a>
                </div>
              </div>
            </div>
          </div>
{{end}}