{{define "bases/index.tmpl"}}
<html>
<head>
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
</head>
<h1>
    {{ .title }}
</h1>
<p><a href="/login">ログインページへ</a></p>
</html>
{{end}}