#local, heroku, docker, staging, production
environment = "docker"

[server]
scheme = "http"
host = "localhost"
port = 8080

[server.docs]
path = "/go/src/github.com/hiromaily/go-gin-wrapper"

[server.log]
level = 1
path = "/var/log/goweb/ginserver.log"

[server.session]
name = "go-web-ginserver"
key = "secretskey123456"
max_age =  300     #(s)
secure = false    #set false in development environment, production environment requires true
http_only = true

[server.basic_auth]
user = "web"
pass = "test"

[proxy]
mode = 0   #0:off, 1:go, 2:nginx

[proxy.server]
scheme = "http"
host = "172.18.0.1"     # "proxy-server"
port = 9990
web_port = [ 8080, 8081, 8082 ]

[proxy.server.log]
level = 1
path = "/var/log/goweb/proxy.log"

[api]
only_ajax = true

[api.cors]
enabled = true
origins = ["localhost:8000"]
headers = ["Origin", "X-Requested-With", "Content-Type", "Accept", "Authorization"]
methods = ["GET", "OPTIONS"]
credentials = false

[api.header]
enabled = true
header = "X-Custom-Header-Gin"
key = "key12345"

[api.jwt]
mode = 1   #0:off, 1:HMAC, 2:RSA
secret_code = "secret1234567890"
private_key = ""
public_key = ""

[auth]

[auth.google]
encrypted = true
client_id = "kPmVQs1VcRWa7lm9afOcZzd2wxfLE4Ws441Y5H+MeAs735CVMgSLbUDsqR5vMJSkVLeWP1ScpLmS1hiEvfkTNcOYic3iMojstNDNSQLrUaU="
client_secret = "vWl5RU38iFcid5JI/j610qcp0aoHOEvWI6+Q/QrKRbY="
call_back_url = "http://localhost:8080/oauth2/google/callback"

[auth.facebook]
encrypted = true
client_id = "VZSYxmfcqQFZNUP7Tzchtg=="                         #app_id
client_secret = "aVd1AHW1PVsChVWcI0uhim0etWgg+9Mj2x+puSBTHHM=" #app secret
call_back_url = "http://localhost:8080/oauth2/facebook/callback"

[mysql]
encrypted = false
host = "mysql-server"
port = 3306
dbname = "hiromaily"
user = "hiromaily"
pass = "12345678"

[mysql.test]
encrypted = false
host = "mysql-server"
port = 3306
dbname = "hiromaily2"
user = "root"
pass = "root"

[redis]
encrypted = false
host = "redis-server"
port = 6379
pass = "password"
session = true

[mongodb]
encrypted = false
host = "web-mongo"
port = 27017
dbname = "hiromaily"
user = "hiromaily"
pass = "12345678"

[aws]
encrypted = false
access_key = "XXXXXXXXXXXX"
secret_key = "XXXXXXXXXXXX"
region = "ap-northeast-1"

[develop]
profile_enable = false
recover_enable = true