{{define "pages/oauth2/callback.tmpl"}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{template "components/header.tmpl" .}}
  </head>
  <body>
    <p>callback</p>
  </body>
</html>{{end}}