{{define "components/nav_side.tmpl"}}
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <div class="user-img-div">
                <img src="/assets/img/users/user.png" class="img-thumbnail" />
                <div class="inner-text">Hiroki Harry Yasui
                  <br />
                  <small>Last Login : 2 Weeks Ago </small>
                </div>
              </div>
            </li>
            <li>
              <a class="nav-menu" href="/">
                <i class="fa fa-dashboard "></i>TOP Page
              </a>
            </li>
            <li>
              <a class="nav-menu" href="/news/">
                <i class="fa fa-dashboard "></i>News Page
              </a>
            </li>
            <li>
              <a class="nav-menu" href="/apilist/">
                <i class="fa fa-desktop "></i>API List Page
              </a>
            </li>
            <li>
              <a class="nav-menu" href="/login">
                <i class="fa fa-dashboard "></i>Login Page
              </a>
            </li>
            <li>
              <a class="nav-menu" href="/logout" data-post="1" data-method="post">
                <i class="fa fa-sign-in "></i>Logout
              </a>
            </li>
            <li>
              <a class="nav-menu" href="/logout" data-ajax="1" data-method="put">
                <i class="fa fa-sign-in "></i>Logout(ajax)
              </a>
            </li>
            <li>
              <a class="nav-menu" href="/accounts/">
                <i class="fa fa-square-o "></i>After Login Page
              </a>
            </li>
            <li>
              <a class="nav-menu" href="/admin/">
                <i class="fa fa-square-o "></i>Admin Page
              </a>
            </li>
            <!--
            <li>
              <a href="#">
                <i class="fa fa-yelp "></i>Ajax Request
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li>
                  <a class="nav-menu" href="/api/users" data-ajax="1" data-method="get">
                    <i class="fa fa-coffee"></i>Get User List
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="/api/users" data-ajax="1" data-method="post" data-contype="form">
                    <i class="fa fa-flash "></i>POST Register user
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="/api/users/1" data-ajax="1" data-method="get">
                    <i class="fa fa-key "></i>Get User 1
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="/api/users/2" data-ajax="1" data-method="put" data-contype="json">
                    <i class="fa fa-send "></i>Put Update User 1
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="/api/users/47" data-ajax="1" data-method="delete">
                    <i class="fa fa-recycle "></i>Delete User 5
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-desktop "></i>NEWS API
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/home.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - home
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/opinion.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - opinion
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/world.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - world
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/national.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - national
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/politics.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - politics
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/business.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - business
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/technology.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - technology
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/science.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - science
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/health.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - health
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/arts.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - arts
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/fashion.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - fashion
                  </a>
                </li>
                <li>
                  <a class="nav-menu" href="https://api.nytimes.com/svc/topstories/v2/travel.json" data-ajax="2">
                    <i class="fa fa-toggle-on"></i>V2 Stories - travel
                  </a>
                </li>
              </ul>
            </li>
            -->

          </ul>
        </div>
      </nav>
<form id="form_active" action="/logout" method="POST"></form>
<script type="text/javascript">
(function (){
  //navi color
  var key={{ .navi_key }};
  //class="active-menu-top"
  //var el = document.querySelector("a.nav-menu");
  var el = document.querySelectorAll("a.nav-menu");
  for (var i = 0, len = el.length; i < len; i++) {
    if (el[i].getAttribute('href') == key){
      el[i].classList.add('active-menu');
    }
  }

  //logout
  //<a class="nav-menu" href="/logout" data-post="1" data-method="post">
  function getPostElem(){
    post_elem = document.querySelectorAll('a[data-post="1"]');
    for (var i = 0, len = post_elem.length; i < len; i++) {
      post_elem[i].addEventListener("click", onPost, false);
    }
  }

  function getAjaxElem(){
    ajax_elem = document.querySelectorAll('a[data-ajax="1"]');
    for (var i = 0, len = ajax_elem.length; i < len; i++) {
      ajax_elem[i].addEventListener("click", onAjax, false);
    }
  }

  function onPost(e){
    e.preventDefault();
    sendPost(e.target.href);
  }

  function onAjax(e){
    e.preventDefault();
    //sendAjax(e.target.href, e.target.getAttribute('data-method'), e.target.getAttribute('data-contype'));
    hy.sendAjax(e.target.href, e.target.getAttribute('data-method'), "form", "")
  }

  //send Post
  function sendPost(url){
    //form action
    var form = document.getElementById("form_active");
    form.action = url;
    form.submit();
  }


document.addEventListener("DOMContentLoaded",getAjaxElem,false);
document.addEventListener("DOMContentLoaded",getPostElem,false);
})();
</script>
{{end}}