{{define "components/wrapper_row_09.tmpl"}}
          <div class="row text-center pad-row">
            <div class="col-md-3">
              <div class="panel normal-table panel-danger adjust-border-radius">
                <div class="panel-heading adjust-border">
                  <h4>BASIC PLAN</h4>
                </div>
                <div class="panel-body">
                  <ul class="plan">
                    <li class="price">
                      <strong>25</strong>
                      <i class="fa fa-dollar"></i>
                      <small>/ month</small>
                    </li>
                    <li>
                      <i class="fa fa-paper-plane-o"></i>
                      <strong>1500 </strong>Emails Accounts
                    </li>
                    <li>
                      <i class="fa fa-graduation-cap"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bolt"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bars"></i>
                      <strong>230 </strong>Support Queries
                    </li>
                  </ul>
                </div>
                <div class="panel-footer">
                  <a href="#" class="btn btn-danger btn-block btn-lg adjust-border-radius">BUY NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel normal-table panel-primary adjust-border-radius">
                <div class="panel-heading adjust-border">
                  <h4>MEDIUM PLAN</h4>
                </div>
                <div class="panel-body">
                  <ul class="plan">
                    <li class="price">
                      <strong>45</strong>
                      <i class="fa fa-dollar"></i>
                      <small>/ month</small>
                    </li>
                    <li>
                      <i class="fa fa-paper-plane-o"></i>
                      <strong>1500 </strong>Emails Accounts
                    </li>
                    <li>
                      <i class="fa fa-graduation-cap"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bolt"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bars"></i>
                      <strong>230 </strong>Support Queries
                    </li>
                  </ul>
                </div>
                <div class="panel-footer">
                  <a href="#" class="btn btn-primary btn-block btn-lg adjust-border-radius">BUY NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel normal-table panel-success adjust-border-radius">
                <div class="panel-heading adjust-border">
                  <h4>ADVANCE PLAN</h4>
                </div>
                <div class="panel-body">
                  <ul class="plan">
                    <li class="price">
                      <strong>95</strong>
                      <i class="fa fa-dollar"></i>
                      <small>/ month</small>
                    </li>
                    <li>
                      <i class="fa fa-paper-plane-o"></i>
                      <strong>1500 </strong>Emails Accounts
                    </li>
                    <li>
                      <i class="fa fa-graduation-cap"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bolt"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bars"></i>
                      <strong>230 </strong>Support Queries
                    </li>
                  </ul>
                </div>
                <div class="panel-footer">
                  <a href="#" class="btn btn-success btn-block btn-lg adjust-border-radius">BUY NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel normal-table panel-warning adjust-border-radius">
                <div class="panel-heading adjust-border">
                  <h4>ADVANCE PLAN</h4>
                </div>
                <div class="panel-body">
                  <ul class="plan">
                    <li class="price">
                      <strong>195</strong>
                      <i class="fa fa-dollar"></i>
                      <small>/ month</small>
                    </li>
                    <li>
                      <i class="fa fa-paper-plane-o"></i>
                      <strong>1500 </strong>Emails Accounts
                    </li>
                    <li>
                      <i class="fa fa-graduation-cap"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bolt"></i>
                      <strong>5000 GB </strong>Cloud Space
                    </li>
                    <li>
                      <i class="fa fa-bars"></i>
                      <strong>230 </strong>Support Queries
                    </li>
                  </ul>
                </div>
                <div class="panel-footer">
                  <a href="#" class="btn btn-warning btn-block btn-lg adjust-border-radius">BUY NOW</a>
                </div>
              </div>
            </div>
          </div>
{{end}}