{{define "components/wrapper_row_08.tmpl"}}
          <div class="row text-center pad-row">
            <div class="col-md-3">
              <div class="panel-danger simple-table">
                <div class="panel-heading">
                  <h4>MEDIUM PLAN</h4>
                </div>
                <div class="alert alert-danger">
                  <ul class="plan">
                    <li class="price-simple">
                      <strong>10</strong>
                      <i class="fa fa-dollar"></i>
                    </li>
                    <li>
                      <strong>52</strong>Emails
                    </li>
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-danger ">BUY NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel-warning simple-table">
                <div class="panel-heading">
                  <h4>MEDIUM PLAN</h4>
                </div>
                <div class="alert alert-warning">
                  <ul class="plan">
                    <li class="price-simple">
                      <strong>25</strong>
                      <i class="fa fa-dollar"></i>
                    </li>
                    <li>
                      <strong>52</strong>Emails
                    </li>
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-warning ">BUY NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel-success simple-table">
                <div class="panel-heading">
                  <h4>ECONOMY PLAN</h4>
                </div>
                <div class="alert alert-success">
                  <ul class="plan">
                    <li class="price-simple">
                      <strong>50</strong>
                      <i class="fa fa-dollar"></i>
                    </li>
                    <li>
                      <strong>52</strong>Emails
                    </li>
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-success ">BUY NOW</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel-info simple-table">
                <div class="panel-heading">
                  <h4>ADVANCE PLAN</h4>
                </div>
                <div class=" alert alert-info">
                  <ul class="plan">
                    <li class="price-simple">
                      <strong>125</strong>
                      <i class="fa fa-dollar"></i>
                    </li>
                    <li>
                      <strong>52</strong>Emails
                    </li>
                    <li>
                      <strong>50 GB</strong>Space
                    </li>
                    <li>
                      <strong>Free</strong>Support
                    </li>
                  </ul>
                  <a href="#" class="btn btn-info ">BUY NOW</a>
                </div>
              </div>
            </div>
          </div>
{{end}}