{{define "components/wrapper_row_06.tmpl"}}
          <div class="row" style="padding-bottom: 100px; `">
            <div class="col-md-6">
              <div id="comments-sec">
                <h4>
                  <strong>Compose Support Ticket </strong>
                </h4>
                <hr />
                <div class="form-group  ">
                  <label>Please Write a Subject Line</label>
                  <input type="text" class="form-control" required="required" placeholder="Enter Subject Of Ticket" />
                </div>
                <div class="form-group ">
                  <label>Please Enter Issue</label>
                  <textarea class="form-control" rows="8"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success">Compose &amp; Send Ticket</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-black">
                  <i class="fa fa-bicycle"></i>
                </span>
                <div class="text-box">
                  <p class="main-text">52 Important Issues to Fix </p>
                  <p>Please fix these issues to work smooth</p>
                  <p>Time Left: 30 mins</p>
                  <hr />
                  <p>
                    <span class=" color-bottom-txt">
                      <i class="fa fa-edit"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn. Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn. Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                    </span>
                  </p>
                  <hr />Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn. Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                </div>
              </div>
            </div>
          </div>
{{end}}