{{define "components/header_login.tmpl"}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .title }}</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- favicon -->
    <link rel="icon" href="data:,">

<style type="text/css">
img.logosize {
  width: 25%;
  height: 25%;
}
.error_msg {
    color: red;
}

.googleBtn {
    background: url("/statics/img/sign-in-with-google.png") no-repeat;
}

.googleBtn a {
    width: 246px;
    height: 54px;
    background: url("/statics/img/sign-in-with-google.png") no-repeat;
    display: block;
    text-indent: -9999px;
}

.googleBtn a:hover {
    background-image: url("/statics/img/sign-in-with-google.png");
}

.facebookBtn {
    background: url("/statics/img/sign-in-with-facebook288_62.png") no-repeat;
}

.facebookBtn a {
    width: 288px;
    height: 62px;
    background: url("/statics/img/sign-in-with-facebook288_62.png") no-repeat;
    display: block;
    text-indent: -9999px;
}

.facebookBtn a:hover {
    background-image: url("/statics/img/sign-in-with-facebook288_62.png");
}

</style>
{{end}}
